@media only screen and (min-width: 601px) and (max-width: 840px) {
    .nav-wrapper {
      padding: 15px 4%;
    }
    nav .fa-solid {
      display: block;
      font-size: 25px;
    }
    nav ul {
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      transition: right 0.5s;
    }
    nav ul li {
      display: block;
      margin: 25px;
    }
    nav ul .fa-solid {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
    .layer {
      font-size: 10px;
    }
    .layer > .deploy > a {
      font-size: 12px;
      margin-top: -17px;
      width: 30px;
      height: 20px;
      padding: 14px;
    }
    .deploy {
      gap: 219px;
    }
    .github-content img {
      width: 100%;
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 700px) {
    .nav-wrapper {
      padding: 15px 4%;
    }
    /* nav .fa-solid {
      display: block;
      font-size: 25px;
    }
    nav ul {
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      transition: right 0.5s;
    }
    nav ul li {
      display: block;
      margin: 25px;
    }
    nav ul .fa-solid {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    } */
    .header-text {
      margin-top: 60%;
      font-size: 16px;
    }
    .header-text h1 {
      margin-bottom: 40px;
      font-size: 60px;
    }
    .header-text p {
      font-size: 40px;
    }
    .layer {
      width: 100%;
      padding: 0 40px;
      font-size: 18px;
    }
    .layer > .deploy > a {
      font-size: 20px;
      width: 50px;
      height: 45px;
    }
    .work-list {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (min-width: 350px) and (max-width: 499px) {
    .nav-wrapper {
      padding: 15px 4%;
    }
    nav .fa-solid {
      display: block;
      font-size: 25px;
    }
    .header-text {
      margin-top: 60%;
      font-size: 16px;
    }
    .header-text h1 {
      margin-bottom: 40px;
      font-size: 40px;
    }
    .header-text p {
      font-size: 30px;
    }
    .work-list {
      grid-template-columns: 1fr;
    }
    nav ul {
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      transition: right 0.5s;
    }
    nav ul li {
      display: block;
      margin: 25px;
    }
    nav ul .fa-solid {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
    .sub-title {
      font-size: 40px;
    }
    .about-col-1,
    .about-col-2 {
      flex-basis: 100%;
    }
    .about-col-2,
    .copyright {
      font-size: 14px;
    }
    .contact-right,
    .contact-left {
      flex-basis: 100%;
    }
    .layer {
      width: 100%;
      padding: 0;
      font-size: 10px;
    }
    .layer > .deploy > a {
      font-size: 10px;
      width: 40px;
      height: 20px;
    }
    .skill-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    .github-content img {
      width: 100%;
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 600px) {
    nav .fa-solid {
      display: block;
      font-size: 25px;
    }
    .header-text {
      margin-top: 60%;
      font-size: 16px;
    }
    .header-text h1 {
      margin-bottom: 40px;
      font-size: 40px;
    }
    .header-text p {
      font-size: 30px;
    }
    .work-list {
      grid-template-columns: 1fr;
    }
    nav ul {
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      transition: right 0.5s;
    }
    nav ul li {
      display: block;
      margin: 25px;
    }
    nav ul .fa-solid {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
    .sub-title {
      font-size: 40px;
    }
    .about-col-1,
    .about-col-2 {
      flex-basis: 100%;
    }
    .about-col-2,
    .copyright {
      font-size: 14px;
    }
    .contact-right,
    .contact-left {
      flex-basis: 100%;
    }
    .layer {
      width: 100%;
      padding: 0;
    }
    .layer > .deploy > a {
      font-size: 13px;
      width: 40px;
      height: 20px;
    }
    .skill-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  